<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196830013916-qm0729nqkgjqopoe5tgs990hbupjv3kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196830013916-qm0729nqkgjqopoe5tgs990hbupjv3kj</string>
	<key>API_KEY</key>
	<string>AIzaSyCo4Sl7TZiC976xScq_Ui16pWSem-LYIBI</string>
	<key>GCM_SENDER_ID</key>
	<string>196830013916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ims</string>
	<key>PROJECT_ID</key>
	<string>cs261-project</string>
	<key>STORAGE_BUCKET</key>
	<string>cs261-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196830013916:ios:4324ea20a383facd8cc719</string>
</dict>
</plist>